div {
    align-content: center;
}

.heading {
    color: rgb(61, 42, 148);
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 25px;
    align-content: center;
}

table, tr, td {
    align-content: center;
    border-style: solid;
    border-color: black;
    border-radius: 1px;
}
body {
    background-image: linear-gradient(-45deg, rgb(121, 119, 119), rgb(150, 150, 85));
  }