<div><img style="display: inline;" src="assets/LearnerAcademyLogo.PNG" alt="Learner's Academy" class="fixed-top"> </div>
<div class="jumbotron jumbotron-fluid container-fluid bg">
  <div class="jumbotron jumbotron-fluid container-fluid bg">
    <div class="jumbotron jumbotron-fluid container-fluid bg">
      <body class="bg">
        <div class="heading">
          <h1 class="fixed-top " style="color: black; background-color:transparent;">Learner's Academy</h1>
        </div>
          <ul>
            <li>
              <div class="dropdown">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                  <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                </svg>
                <button type="button" class="btn btn-primary">Student</button>
                <div class="dropdown-content">
                  <br />
                  <a href="/createStudent"> create Student</a>
                  <a href="/getAllStudents"> get All Students</a>
                  <a href="/getStudentById"> get Student By Id</a>
                  <a href="/removeStudent"> remove Student </a>
                  <a href="/updateStudent"> update Student</a>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 0 0 1 2.82z"/>
                  <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z"/>
                </svg>
                  <button type="button" class="btn btn-primary">Subject</button>
                  <div class="dropdown-content"><br /><a href=" /createSubject"> create Subject</a><a href="
                    /getAllSubject"> get All Subjects</a><a href=" /getSubjectById"> get Subject By Id</a><a href="
                    /removeSubject"> remove Subject </a><a href=" /updateSubject"> update Subject</a>
                    </div>
              </div>
            </li>
            <li>
              <div class="dropdown">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M5.707 13.707a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391L10.086 2.5a2 2 0 0 1 2.828 0l.586.586a2 2 0 0 1 0 2.828l-7.793 7.793zM3 11l7.793-7.793a1 1 0 0 1 1.414 0l.586.586a1 1 0 0 1 0 1.414L5 13l-3 1 1-3z"/>
                  <path fill-rule="evenodd" d="M9.854 2.56a.5.5 0 0 0-.708 0L5.854 5.855a.5.5 0 0 1-.708-.708L8.44 1.854a1.5 1.5 0 0 1 2.122 0l.293.292a.5.5 0 0 1-.707.708l-.293-.293z"/>
                  <path d="M13.293 1.207a1 1 0 0 1 1.414 0l.03.03a1 1 0 0 1 .03 1.383L13.5 4 12 2.5l1.293-1.293z"/>
                </svg>
                  <button type="button" class="btn btn-primary">Teacher</button>
                  <div class="dropdown-content"><br /><a href=" /createTeacher"> create Teacher</a><a href="
                    /getAllTeachers"> get All Teachers</a><a href=" /getTeacherById"> get Teacher By Id</a><a href="
                    /removeTeacher"> remove Teacher </a><a href=" /updateTeacher"> update Teacher</a>
                    </div>
              </div>
            </li>
            <li>
              <div class="dropdown">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                </svg>
                  <button type="button" class="btn btn-primary">Classes</button>
                  <div class="dropdown-content"><br /><a href=" /createClasses"> create Class</a><a href="
                    /getAllClasses"> get All Classes</a><a href=" /getClassesById"> get Class By Id</a><a href="
                    /removeClasses"> remove Class</a><a href=" /updateClasses"> update Class</a>
                    </div>
              </div>
            </li>
          </ul>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <!-- <ul>
    <li><a routerLink="/createStudent"> createStudent</a></li>
    <li><a routerLink="/getAllStudents"> getAllStudents</a></li>
    <li><a routerLink="/getStudentById"> getStudentById</a></li>
    <li><a routerLink="/removeStudent"> removeStudent</a></li>
    <li><a routerLink="/updateStudent"> updateStudent</a></li>
  </ul> -->

        <!-- <ul>
    <li ><a routerLink="/createSubject"> createSubject</a></li>
    <li><a routerLink="/getAllSubject"> getAllSubject</a></li>
    <li><a routerLink="/getSubjectById"> getSubjectById</a></li>
    <li><a routerLink="/removeSubject"> removeSubject</a></li>
    <li><a routerLink="/updateSubject"> updateSubject</a></li>
  </ul> -->
        <!-- <br />
  <ul>
    <li><a routerLink="/createTeacher"> createTeacher</a></li>
    <li><a routerLink="/getAllTeachers"> getAllTeachers</a></li>
    <li><a routerLink="/getTeacherById"> getTeacherById</a></li>
    <li><a routerLink="/removeTeacher"> removeTeacher</a></li>
    <li><a routerLink="/updateTeacher"> updateTeacher</a></li>
  </ul>
  <br /> -->
        <!-- <ul>
    <li><a routerLink="/createClasses"> createClasses</a></li>
    <li><a routerLink="/getAllClasses"> getAllClasses</a></li>
    <li><a routerLink="/getClassesById"> getClassesById</a></li>
    <li><a routerLink="/removeClasses"> removeClasses</a></li>
    <li><a routerLink="/updateClasses"> updateClasses</a></li>
  </ul> -->

        <div align="center">
          <router-outlet></router-outlet>
        </div>
      </body>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </div>
  </div>
</div>
